@page "/CommandCenter"
@inject IPlayerService playerService
@inject NavigationManager navigation

 <h3>CommandCenter</h3>
<input type="button" class="btn btn-primary" @onclick="RedirectToAddPlayer" value="+Add Player"/>




@code {
    private DartsMatchModel currentMatch;


    private void RedirectToAddPlayer()
    {
        navigation.NavigateTo("/AddPlayer");
    }

}
