@if (IsBusy)
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}


@code {
    [Parameter]
    public bool IsBusy { get; set; }
}
